

body {
    font-family: arial, sans-serif;
    overflow: hidden;
    color: #222;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    position: relative; right: -5px;
  }

  ul li {
    display: block;
    float: right;
    padding-left: 15px;

  }

  ul li img {
    
  }

  /* profile vertical align below is an unelegant fix. tried vertical-align:middle; in ul li img */
  .profile {
    position: relative; top: -8px;
    padding-left: 9px;
  }

  .dots {
      padding-left: 16px;
  }

header {
   padding-right: 15px;
   font-size: 13px;
}

main {
    text-align: center;

}


footer {
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(248, 249, 250);
}

.footerleft {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-area: 2/1;
}

.footerright {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-area: 2/10;
    
}

.neth {
    display: grid;
    grid-area: 1/1;
}
.btn {
    border: none;
    padding: 10px;
    background-color: rgb(248, 249, 250);
    color: #3c4043;
    font-size: 14px;
}

p {
    font-size: small;
}