body {
    font-family: arial, sans-serif;
}
header {
    text-align: right;
}

main {
    text-align: center;
    
}


.leftside {
    text-align: left;
}
.rightside {
    text-align: right;
}

.btn {
    border: none;
    padding: 10px;
    background-color: rgb(248, 249, 250);
}